THEME_NAME=base-theme

TF_DO_TOKEN = "digital_ocean_api_token"

TF_SSH_KEY_ID = "ssh_key_id"

TF_SSH_PRIVATE_KEY_PATH = "~/.ssh/id_ed25519"

TF_PROJECT_NAME = "Example Project"

TF_DOMAIN_NAME = "example.com"

TF_ENVIRONMENT = "production"

TF_REGION = "nyc1"

TF_DROPLET_SIZE = "s-1vcpu-2gb"

TF_MYSQL_ROOT_PASSWORD = "rootpassword"

TF_MYSQL_DATABASE = "wp"

TF_MYSQL_USER = "db"

TF_MYSQL_PASSWORD = "mysqlpassword"

TF_SSL_EMAIL = "example@gmail.com"
