.DS_Store
terraform.tfvars

node_modules
vendor
.parcel-cache

.env
.php-cs-fixer.cache

.terraform/
terraform.tfstate
terraform.tfstate.lock.info
terraform.tfstate.backup

web/wp-content/plugins/
web/wp-content/themes/*/css/
web/wp-content/themes/*/js/
web/wp-content/themes/*/blocks/*
web/wp-content/themes/*/cache/
